#nerdbox {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  height: 100%;
  width: 100%;
  text-align: center;
}

/* This is to force inline vertical alignment of .wrapper */
#nerdbox:before { 
  position: relative;
  display: inline-block;
  height: 100%;
  width: 1px;
  content: ' ';
  vertical-align: middle;
}

#nerdbox .nb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

/* This element is positioned inline.
   inline-block can be treated as an inline element, so we can use text-align on the
   parent and vertical-align on itself ( with #nerdbox:before as a 'sibling' )
*/
#nerdbox .nb-wrapper {
  position: relative;
  display: inline-block;
  max-width: 90%;
  max-height: 90%;
  margin-left: -1px;
  overflow: hidden;
  vertical-align: middle;
  text-align: left;
  border: 3px solid rgba(0,0,0,0);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.4);
  -o-box-shadow: 0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 18px rgba(0,0,0,0.4);
  box-shadow: 0 0 18px rgba(0,0,0,0.4); 
}

#nerdbox .nb-wrapper .nb-close {
  position: absolute;
  top: 0;
  right: 1px;
  z-index: 11;
  height: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}

#nerdbox .nb-wrapper .nb-close:before {
  position: relative;
  display: block;
  z-index: 10;
  height: 20px;
  width: 20px;
  content: "\00D7";
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #AAA;
}

#nerdbox .nb-content {
  /* If the content doesn't need more, we use the size that the content will
     need.
  */
  height: 100%;
  width: 100%;
  /* Else, the maximum height is 90 viewport height units (This equals to 90%
     of the window). See https://github.com/mikepack/nerdbox/issues/15.
  
     NOTE: This uses 90vh height because using more will make the scrollbar
       hide behind the limit of the Nerdbox window.
  */
  max-height: 90vh;
  max-width: 100vw;
  overflow: auto;
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* This helps with position and spacing when loading a single image into content */
#nerdbox .nb-content > img {
  display: block;
}

/*
---------------------
    Loader Styles
---------------------
*/

#loader {
  height: 35px;
  width: 170px;
  padding: 10px;
}

#loader .circle {
  float: left;
  height: 32px;
  width: 32px;
  margin-left: 17px;
  background-color: #FFF;
  opacity: 0.3;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;

  -webkit-animation-name: fade_circle;
  -moz-animation-name: fade_circle;
  -o-animation-name: fade_circle;
  -ms-animation-name: fade_circle;

  -webkit-animation-duration: 1.65s;
  -moz-animation-duration: 1.65s;
  -o-animation-duration: 1.65s;
  -ms-animation-duration: 1.65s;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;

  -webkit-animation-direction: linear;
  -moz-animation-direction: linear;
  -o-animation-direction: linear;
  -ms-animation-direction: linear;
}

#loader .circle.one {
  -webkit-animation-delay: 0.33s;
  -moz-animation-delay: 0.33s;
  -o-animation-delay: 0.33s;
  -ms-animation-delay: 0.33s;
}

#loader .circle.two {
  -webkit-animation-delay: 0.66s;
  -moz-animation-delay: 0.66s;
  -o-animation-delay: 0.66s;
  -ms-animation-delay: 0.66s;
}

#loader .circle.three {
  -webkit-animation-delay: 0.99s;
  -moz-animation-delay: 0.99s;
  -o-animation-delay: 0.99s;
  -ms-animation-delay: 0.99s;
}

@-webkit-keyframes fade_circle {
  0%{
    opacity: 0.3;
  }
  50%{
    opacity: 1;
    background: #777;
  }
  100%{
    opacity: 0.3;
  }
}

@-moz-keyframes fade_circle {
  0%{
    opacity: 0.3;
  }
  50%{
    opacity: 1;
    background: #777;
  }
  100%{
    opacity: 0.3;
  }
}

@-o-keyframes fade_circle {
  0%{
    opacity: 0.3;
  }
  50%{
    opacity: 1;
    background: #777;
  }
  100%{
    opacity: 0.3;
  }
}

@-ms-keyframes fade_circle {
  0%{
    opacity: 0.3;
  }
  50%{
    opacity: 1;
    background: #777;
  }
  100%{
    opacity: 0.3;
  }
}
